<form [formGroup]="group">
    <select class="form-select mb-1" aria-label="Default select example" disabled>
        <option selected>Form Field Type</option>
    </select>
    
    <div class="my-1" *ngFor="let choice of choices">
        <div>
            <input class="form-control mb-1" disabled value="{{choice}}" />
        </div>
    </div>
    
    <div class="d-flex">
        <input type="text" class="form-control flex-fill me-2" formControlName="temp" placeholder="Add option" />
        <button class="btn btn-primary ml-2" (click)="addNewOption()">Add</button>
    </div>
</form>