<div class="container">
  <div class="row my-2">
    <div class="col-6 text-center mx-auto">
      <div class="card">
        <div class="card-body">
          <h1>Forms</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-2 mx-auto">
      <div class="card w-100">
        <div class="card-body">
          <div class="list-group d-flex justify-content-between" *ngFor="let form of forms; let i = index">
            <a type="button" [routerLink]="['/form/fill-up/', form.title]" class="btn list-group-item list-group-item-action mb-1">
                {{form.title}}
            </a>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="forms.length === 0">
        <div class="col mx-auto text-center">
          <h4>
            The list is empty
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>