<div class=" bg-warning">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <app-form />
        </div>
        <div class="col-2 mt-2 bg-danger">
            <div class="list-group">
                <button (click)="addNewField('text')" type="button" class="list-group-item list-group-item-action">Text</button>
                <button (click)="addNewField('number')" type="button" class="list-group-item list-group-item-action">Number</button>
                <button (click)="addNewField('dropdown')" type="button" class="list-group-item list-group-item-action">Dropdown</button>
            </div>
        </div>
    </div>
</div>